# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

#ignore data and node modules folver
node_modules/*
data/*



build/core/*
build/libraries/*
build/preproc/*
build/sketch/*
# End of https://www.gitignore.io/api/visualstudiocode